@backgroundColor: #414770;
@textColor: white;
@codeTextColor: #D63384;
@warningTextColor: #F85966;
@codeBackgroundColor: tint(@codeTextColor, 80%);
@tableTextColor: #4A1F41;
@tableHoverTextColor: white;
@textButtonColor: white;
@gridLineColor: #FBCBE7;
@graphLineColor: #FA9DC6;
@chartBackgroundColor: white;
@tableBackgroundColor:white;
@columnHoverColor: #F85966;
@dotOutlineColor:#F85966; 
@dotColor: #F85966;
@iconFilledColor: #7F96FF;
@iconPeriodColor: #F85966;

@chartHeight: 50%;
@spacingUnit: 10px;

.circleMixin(@radius, @border: 0) {
  width: 2 * @radius;
	height: 2 * @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
  margin-left: -@radius;
  margin-top: -@radius;
  border: @border;
}

html, body, #app {
  height: 100%;
  width: 100%;
  position: relative;
  color: @textColor;
  background: @backgroundColor;
  background-color: @backgroundColor;
  font-family: 'Patrick Hand', 'Segoe UI', 'Helvetica', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: @codeTextColor;
}

#app {
  padding: 50px 15%;
  width: 100%;
}
.wrapper {
  margin: 0 10px
}
.navbar-brand {
  color: @textButtonColor;
  &:hover {
    color: @textButtonColor;
  }
}
.nav-link {
  color: @textButtonColor;
  &:hover, &:focus {
    color: @textButtonColor;
  }
  &:hover {
    text-decoration: underline;
  }
  a {
    color: @textButtonColor;
    text-decoration: none;  
  }
}
button.btn.btn-primary {
  color: @backgroundColor;
  font-weight: bold;
  background: @textButtonColor;
}
.errorMsg {
  color: @warningTextColor;
}
textarea.error {
  border: solid 1px @warningTextColor;
}
.code-snippet-scroll-container {
  height: 30vh;
  overflow: auto;
  background-color: @codeBackgroundColor;
  padding: 10px;
  border-radius: 10px;
  font-size: small;
}
.align-right {
  display: flex;
  justify-content: flex-end;
}

.Graph {
  display: flex;
  width: 100%;
  height: 100%;
  svg {
    width: 100%;
    height: 100%;
  }
  .graph-container {
    border: 1px solid @gridLineColor
  }
  .graph-line {
    fill: none;
    stroke-width: 3;
    stroke: @graphLineColor
  }
  .axis-grid line {
    stroke: @gridLineColor
  }
}

.synchronised-graph-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;

  .navigation-container {
    display: flex;
    height: 30px;
    margin: @spacingUnit 0;
    justify-content: space-between;

    .btn {
      background-color: transparent;
      border: none;
      padding: 5px;
      color: @textButtonColor
    }

    .btn:disabled {
      opacity: 0   
    }
  }
  
  .chart-container {
    position: relative;
    width: 100%;
    height: 50%;
    background: @chartBackgroundColor;
    box-sizing: border-box;
  }

  .synchronised-graph {
    position: absolute;
  }

  .chart-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    .dots-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .dot {
        .circleMixin(4px, 1px solid @graphLineColor);
        position: absolute;
        transition: opacity 0.3s ease-out;
        background: @graphLineColor;
        
        &.active {
          .circleMixin(4px, 1px solid @dotOutlineColor);
          background: @dotColor;
        }
      }
    }

    .column-container {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;

      .column {
        background-color: transparent;
        display: flex;
        flex: 1;
        transition: opacity 0.3s ease-out;
        border: solid 0.5px @gridLineColor;
        opacity: 1;
  
        &.active {
          opacity: 0.5;
          background-color: tint(@columnHoverColor, 50%);
          border: solid 0.5px tint(@columnHoverColor, 50%);
        }
      }
    }
  }
  
  .Table {
    display: flex;
    position: relative;
    width: 100%;
    background: @tableBackgroundColor;

    .table-row-heading {
      position: absolute;
      right: 100%;
      text-align: left;
      padding-right: @spacingUnit * 2;
      font-size: small;

      &-icon {
        text-align: right;
        padding-right: @spacingUnit * 0.5;
      }

      .table-block {
        border: solid 0.5px transparent;
      }    
    }

    .table-block {
      border: solid 0.5px @gridLineColor;
      .icon {
        color: transparent;
        margin: 1px;
        border-radius: 3px;

        &-base {
          margin: 1px;
        }

        &-dry {
          background-color: @iconFilledColor;
          clip-path: inset(42% 10% 43% 10%);
        }

        &-filled {
          background-color: @iconFilledColor;
        }

        &-period {
          background-color: @iconPeriodColor;
          clip-path: circle(30%);
        }

        &-spotting {
          background-color: @iconPeriodColor;
          clip-path: circle(15%);
        }

        &-heading {
          color: @textColor;
          clip-path: none;
          background-color: transparent;
        }
      }
    }

    .table-column {
      color: @tableTextColor;
      font-size: small;
      display: flex;
      flex: 1;
      flex-direction: column;
      transition: all 0.2s;
      overflow: hidden;
      text-align: center;

      &.active {
        background-color: tint(@columnHoverColor, 25%);
        color: @tableHoverTextColor;
        font-weight: bold;
      }
    }
  }
}

  .modal-content {
    background-color: @backgroundColor;    

    .btn {
      background-color: @backgroundColor;
      border: 1px solid @textButtonColor;
  }
}

.settings {
  max-width: 450px;
  .col:has(label) {
    text-align: left;
  }
}